<!DOCTYPE html>
<html>

{include file='header.html'}

<body>
    {include file='navbar.html'}
    <!--Dashboard, showing all media-->
    <div>
               
    </div>

    <!--Media Upload-->
    <div>
        <form enctype="multipart/form-data" method="POST" class="form-group">
            <input type="hidden" name="MAX_FILE_SIZE" value="30000000" />
            <input type="file" name="picture" id="fileToUpload">
            <input type="button" value="Upload!" formaction="Upload">
        </form>
    </div>

    {include file='message.html'}   
</body>
</html>